<body>
    <nav class="menu">

        <div class="menu-logo">
            <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjfvXNWTkp01JIol_klFR2SacCqM141ezxhg&s" alt=""></a>
        </div>

        <div class="menu-items">
            <a href="#">Tarify</a>
            <a href="#">Produkty</a>
            <a href="#">Extra služby</a>
            <a href="#">O bance</a>
        </div>

        <div class="menu-right">
            <a href="#">Stát se klientem</a>
            <a href="#">Přihlásit</a>
        </div>
    </nav>


    <div class="grid-container">
        <div class="block block1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6ydoJuGBRkyT4_uJ8qkckiPhXTVrw1shJ4GS1ytHqYhwj7R1NmPgag31nsTI1LrIGjbM&usqp=CAU" alt="Image 1">
        </div>
        <div class="block block2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9suLpw6ZbuY9yEpFmsu2X8_qs3N4n2Qw2Xw&s" alt="Image 2">
        </div>
        <div class="block block3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDm6dmmler_MCBmuttfksCD8Uchws3F37KZjRQDxjsAs2mqhfPfjgoCFx4b8gkssLFBpQ&usqp=CAU" alt="Image 3">
        </div>
    </div>

    <div class="grey-block">
        <p>Bonus 2 000 Kč a soutěž o ceny v hodnotě 300 000 Kč</p>
        <p>Staňte se klientem a hrajte o ceny v turnaji streamerů</p>
        <a href="#" class="cta">To mě zajímá</a>
    </div>
    
</body>