<footer>
    <div class="footer">
        <div class="footer-column">
            <h4>Nabídka</h4>
            <a href="#">2 000 Kč pro nové klienty</a>
            <a href="#">Osobní finance</a>
            <a href="#">Živnostníci a malé firmy</a>
            <a href="#">Střední a velké firmy, instituce</a>
            <a href="#">KB Privátní bankovnictví</a>
            <a href="#">Investiční bankovnictví</a>
        </div>

        <div class="footer-column">
            <h4>Nástroje a rady</h4>
            <a href="#">Podpora</a>
            <a href="#">Bezpečnost</a>
            <a href="#">Ceny a sazby</a>
            <a href="#">Kurzovní lístek</a>
            <a href="#">Dokumenty ke stažení</a>
            <a href="#">Transparentní účty</a>
        </div>

        <div class="footer-column">
            <h4>O bance</h4>
            <a href="#">Pro média</a>
            <a href="#">Valné hromady</a>
            <a href="#">Povinné informace</a>
            <a href="#">Pro investory</a>
            <a href="#">Kariéra v KB</a>
            <a href="#">Udržitelnost</a>
        </div>

        <div class="footer-column">
            <h4>Kontakt</h4>
            <p class="contact-info">Zavolejte nám: 800 521 521</p>
            <a href="#">Kontakty</a>
            <a href="#">Pobočky a bankomaty</a>
            <a href="#">KB Rádce</a>
            <a href="#">Stáhněte si naši aplikaci</a>
        </div>
    </div>
    
</footer>